<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {{ config.site_name	}} </title>
</head>
<body>
	<a href="/">
		{{ config.site_name	}}
	</a>
	{% block content %}
	{% endblock %}
</body>
</html>
