{% extends "base.html" %}

{% block content %}
	<ul>
		{% for item in nav %}
			<li>
				<a href="{{item.url}}">
					{{ item.title }}
					{{ item.date }}
				</a>
			</li>
		{% endfor %}
	</ul>


{% endblock %}

